# Variaveis de Ambiente
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# Dependencias Node
node_modules/

# Python
__pycache__/
*.pyc
.venv/

# Build
dist/
dist-ssr/

# Editores e sistema
.vscode/
.idea/
.DS_Store
